@import url(../reindeer/styles.css);

.float-right {
	float: right;
}

.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell,
.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: 0px;
}

.v-generated-body, .v-app {
	background: none repeat scroll 0 0 #FFFFFF;
}


.flow .v-csslayout-margin,.v-csslayout-margin-top,.v-csslayout-margin-right,.v-csslayout-margin-bottom,.v-csslayout-margin-left {
	padding: 4px;
}

.flow-part, .flow-separator {
	display: inline !important;
	white-space: normal;
	vertical-align: top;
	padding-right: 2px;
}

.flow-part *, .flow-separator * {
	display: inline !important;
	white-space: normal;
}

.v-panel-caption {
    white-space: normal;
}
