@import url(../reindeer/styles.css);

.v-filterselect {
	white-space: normal;
}

.float-right {
	float: right;
}

.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-captioncell,
.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-contentcell,
.embedded-no-spacing .v-formlayout-spacing .v-formlayout-row .v-formlayout-errorcell {
	padding-top: 0px;
}