<div id="container">
	<div id="header">
		<div id="logo">
			<!-- <img src=""/> -->
			<div id="text">
				<h1><div location="title"></div></h1>
				<div id="subtitle"><div location="subtitle"></div></div>
			</div>
		</div>
		<div id="supportnav" location="actionMenu"></div>
	</div>


	<div id="mainnav">
		<div location="contentMenu"></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>


	<div id="container2">
		<div class="clear"></div>
		<div id="container3">

			<div id="content">
				<div location="body"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="footer" location="footer"></div>
	</div>
	<!-- container2 -->
</div>